{
  "ignition": {
    "config": {
      "append": [
        {
          "source": "http://{{ groups['webserver'][0] }}:8080/ignition-downloader.php",
          "verification": {}
        }
      ]
    },
    "timeouts": {},
    "version": "2.1.0"
  },
  "networkd": {},
  "passwd": {},
  "storage": {},
  "systemd": {}
}