{
  "ignition": {
    "config": {
      "merge": [
        {
          "source": "http://{{ groups['helper'][0] }}:8080/{{ ((node_type_ignition_map | selectattr('node_type', 'equalto', hostvars[item].node_type | default('compute'))) | first).ignition_file }}"
        }
      ]
    },
    "version": "3.2.0"
  }
}