{
  "disks_selected_config": [
    {
      "id": "{{ item.disk_by_id }}",
      "role": "install"
    }
  ],
  "disks_skip_formatting": [
    {
      "disk_id": "{{ item.disk_by_id }}",
      "skip_formatting": false
    }
  ]
}